<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace='accountMapper'>
	
	<!-- 회원정보 입력 -->
	<insert id='insertAccount' parameterType="AccountVO">
		INSERT INTO account(
		account_Id, account_Password, account_Name, account_Email, account_Tel, account_Addr1, account_Addr2, account_Addr3)
		VALUES(#{account_Id}, #{account_Password}, #{account_Name}, #{account_Email}, #{account_Tel}, #{account_Addr1}, #{account_Addr2}, #{account_Addr3})
	</insert>
	
	<!-- 로그인 -->
	<select id="loginCheck" resultType="AccountVO">
		SELECT * FROM account
		<where>
			account_Id=#{account_Id} AND account_Password=#{account_Password}
		</where>
	</select>
	
	<update id="updateAccount" parameterType="AccountVO">
		UPDATE account SET
		account_Tel = #{account_Tel},
		account_Email = #{account_Email},
		account_Addr1 = #{account_Addr1},
		account_Addr2 = #{account_Addr2},
		account_Addr3 = #{account_Addr3},
		WHERE account_Id = #{account_Id}
	</update>
	
	<select id="myHomePageView" parameterType="AccountVO" resultType="AccountVO">
		SELECT *
		FROM account
		WHERE account_Id=#{account_Id}
	</select>
	
	<select id="myHomePageUpdate" parameterType="AccountVO" resultType="AccountVO">
		SELECT *
		FROM account
		WHERE account_Id=#{account_Id}
	</select>
	
	<!-- 계정불러오기 -->
	<select id="accountList" resultType="AccountVO">
		<![CDATA[
		SELECT * FROM account
		]]>
	</select>
	
	<!-- 아이디 중복체크 -->
	<select id="idCheck" resultType="AccountVO" parameterType="AccountVO">
		SELECT * FROM account
		WHERE account_Id=#{account_Id}
 	</select>

</mapper>