<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace='accountMapper'>

	<!-- 회원정보 입력 -->
	<insert id='insertAccount' parameterType="AccountVO">
		INSERT INTO account(
		account_Seq, account_Id, account_Password, account_Name,
		account_Email,
		account_Tel, account_Addr1, account_Addr2,
		account_Addr3,
		account_Status, account_Leave, account_Date, account_realProfileImg)
		VALUES(account_Seq.nextval, #{account_Id}, #{account_Password},
		#{account_Name}, #{account_Email}, #{account_Tel}, #{account_Addr1},
		#{account_Addr2}, #{account_Addr3}, 1, 1, sysdate, 0)
	</insert>


	<!-- 로그인 -->
	<select id="loginCheck" resultType="AccountVO">
		SELECT * FROM account
		<where>
			account_Id=#{account_Id} AND account_Password=#{account_Password} AND account_Leave=1
		</where>
	</select>

	<!-- 관리자 로그인 -->
	<select id="adminloginCheck" resultType="AccountVO">
		SELECT * FROM account
		<where>
			account_Id=#{account_Id} AND
			account_Status = 0 
		</where>
	</select>

  <!-- 회원정보 수정 -->
	<update id="updateAccount" parameterType="AccountVO">
		UPDATE account SET
		<if test="account_ProfileImg != null ">
			account_ProfileImg = #{account_ProfileImg}, account_realProfileImg = #{account_realProfileImg},
		</if>
		account_Tel = #{account_Tel},
		account_Email = #{account_Email},
		account_Addr1 = #{account_Addr1},
		account_Addr2 = #{account_Addr2},
		account_Addr3 = #{account_Addr3}
		WHERE account_Id = #{account_Id}
	</update>

	<select id="myHomePageView" parameterType="AccountVO"
		resultType="AccountVO">
		SELECT *
		FROM account
		WHERE account_Id=#{account_Id}
	</select>

	<select id="myHomePageUpdate" parameterType="string"
		resultType="AccountVO">
		SELECT *
		FROM account
		WHERE account_Id=#{account_Id}
	</select>

	<!-- 계정불러오기 -->
	<select id="accountList" resultType="AccountVO">
		<![CDATA[
		SELECT * FROM account
		]]>
	</select>

	<!-- 아이디 중복체크 -->
	<select id="idCheck" resultType="AccountVO"
		parameterType="AccountVO">
		SELECT * FROM account
		WHERE account_Id=#{account_Id}
 	</select>
 	
 	<!-- 비밀번호 확인-->
    <select id="checkPassword" resultType="int">
        SELECT 
            COUNT(*) 
        FROM account
        WHERE account_Id = #{account_Id} AND account_Password = #{account_Password}
    </select>
 	
 	<!-- 회원탈퇴 -->
 	<update id="deleteAccount" parameterType="AccountVO">
 		UPDATE account 
		SET account_Leave=0,
			account_Reason = #{account_Reason}
		WHERE account_Id=#{account_Id} and account_Password=#{account_Password}
 	</update>
 	
 	<!-- 아이디 찾기 -->
 	<select id="idFind" resultType="AccountVO">
 		SELECT * FROM account
 		WHERE account_Email = #{account_Email} 
 	</select>
 	
 	<!-- 아이디 찾기 중복체크 -->
 	<select id="idFindCheck" resultType="int">
 		SELECT count(*) FROM account
 		WHERE account_Email = #{account_Email}
 	</select>
 	
 	
 	<!-- 마이홈 주문내역 ********************************************************************************-->
   <select id="getList" resultType="MyPageOrderModifyVO">
   SELECT *
		FROM orderdata od
        INNER JOIN buylist buy
        ON od.buylist_number = buy.buylist_number
        INNER JOIN product_Info pi
        ON buy.product_Seq = pi.product_Seq
        INNER JOIN account a
        ON pi.account_Id = a.account_Id
        WHERE a.account_Id = #{account_Id}
        ORDER BY od.orderdata_seq DESC
  </select>

</mapper>