<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MainDAO">
	<select id="adminGetCustomerList" resultType="AdminListVO">
		<![CDATA[
		SELECT * FROM account
		]]>
	</select>
	<!-- ************************************************************************** -->
	<select id="adminGetOrderList" resultType="AdminListVO">
		<![CDATA[
		SELECT * FROM orderdata ORDER BY orderdata_seq DESC
		]]>
	</select>
	<!-- ************************************************************************** -->
	<select id="adminGetPayList" resultType="AdminListVO">
		<![CDATA[
		SELECT * FROM payment ORDER BY pay_number DESC
		]]>
	</select>
	<!-- ************************************************************************** -->
</mapper>