<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace='adminChartMapper'>
	
	<!-- 상품 카테고리별 등록 갯수 차트  -->
	<select id="countProductCategory" resultType="AdminChartVO">
		SELECT product_Category, COUNT(*) AS CNT 
		FROM product_Info
		GROUP BY product_Category ORDER BY CNT
	</select>
	
</mapper>