<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="orderMapper">

	<!--************** 주문내역정보 불려오기 ****************************************************** -->
	<select id="getOrderList" resultType="MyPageOrderModifyVO">
		SELECT *
		FROM orderdata od
        INNER JOIN buylist buy
        ON od.buylist_number = buy.buylist_number
        INNER JOIN product_Info pi
        ON buy.product_Seq = pi.product_Seq
        INNER JOIN account a
        ON pi.account_Id = a.account_Id
        WHERE a.account_Id = #{account_Id}
        ORDER BY od.orderdata_seq DESC
	</select>

	<!-- ****************주문상세보기************************************* -->
	<select id="selectLoad" resultType="MyPageOrderModifyVO">
		SELECT *
		FROM orderdata od
		INNER JOIN payment pa
		on od.pay_number = pa.pay_number
		INNER join buylist buy
		on od.buylist_number = buy.buylist_number
		INNER join product_Info pi
		on buy.product_Seq = pi.product_Seq
		INNER join account a
		on pi.account_Id = a.account_Id
		WHERE a.account_Id= #{account_Id}

	</select>

	<!-- ********주문수정버튼 업데이트 미완성 ****************************************** -->
	<update id="updateMember" parameterType="MyPageOrderModifyVO">
	UPDATE orderdata
    SET 
    receiver_name =#{receiver_name},
    receiver_tel = #{receiver_tel},
    user_require = #{user_require},
    receiver_zonecode = #{receiver_zonecode},
    receiver_address = #{receiver_address},
    receiver_daddress = #{receiver_daddress}
    WHERE account_Id = #{account_Id}
	</update>


	<!-- 주문 상세보기 ************************************************************************ -->
	<select id="selectModify" resultType="MyPageOrderModifyVO">
		SELECT
    * FROM orderdata od
    INNER join account a
    on od.account_Id= a.account_Id
    WHERE a.account_Id = #{account_Id}

	</select>


	<!-- 주문 취소/반품/교환 리스트 페이지 *********************************************************** -->
	<select id="selectDelete" parameterType="string" resultType="MyPageOrderModifyVO">
		SELECT*
		FROM orderdata od
		INNER JOIN payment pa
		on od.pay_number = pa.pay_number
		INNER join buylist buy
		on od.buylist_number = buy.buylist_number
		INNER join product_Info pi
		on buy.product_Seq = pi.product_Seq
		INNER join account a
		on pi.account_Id = a.account_Id
		WHERE a.account_Id= #{account_Id}
	</select>


	<!-- 취소/교환/반품 업데이트 페이지 ********************************************************************* -->

	<update id="updateCancle" parameterType="MyPageOrderModifyVO">
		UPDATE orderdata SET
		user_require = #{user_require},
		state = #{state}
		WHERE account_Id = #{account_Id}
	</update>



	<!-- 취소/교환/반품 한 리스트 불려오기 *************************************************************** -->
	<select id="getCancleList" resultType="MyPageOrderModifyVO">
		
SELECT *
		FROM orderdata od
		INNER JOIN payment pa
		on od.pay_number = pa.pay_number
		INNER join buylist buy
		on od.buylist_number = buy.buylist_number
		INNER join product_Info pi
		on buy.product_Seq = pi.product_Seq
		INNER join account a
		on pi.account_Id = a.account_Id
        WHERE state != '취소'
   </select>
   
   <!-- 마이홈 주문내역 ********************************************************************************-->
   <select id="getList" resultType="MyPageOrderModifyVO">
   SELECT *
		FROM orderdata od
        INNER JOIN buylist buy
        ON od.buylist_number = buy.buylist_number
        INNER JOIN product_Info pi
        ON buy.product_Seq = pi.product_Seq
        INNER JOIN account a
        ON pi.account_Id = a.account_Id
        WHERE a.account_Id = #{account_Id}
        ORDER BY od.orderdata_seq DESC
  </select>

</mapper>