<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PaymentDAO">

	
	<!-- oracle 인 경우 -->	
	<!-- 주문정보 생성 -->
	<insert id="insertPayment" parameterType="PaymentVO">
	INSERT INTO ORDERDATA(ORDERDATA_SEQ,account_id,PAY_NUMBER,
   				 sender_name,sender_email,sender_tel,sender_zonecode,
   				 sender_address,sender_daddress,receiver_name,receiver_email,
    			 receiver_tel,receiver_zonecode, receiver_address,receiver_daddress,
    			 user_require, buylist_number, price, ORDER_DATE, state)
		VALUES(order_Seq.NEXTVAL,'abc123', null, #{sender_name}, #{sender_email},
				#{sender_tel}, #{sender_zonecode}, #{sender_address}, #{sender_daddress},
				#{receiver_name}, #{receiver_email}, #{receiver_tel}, #{receiver_zonecode},
				#{receiver_address}, #{receiver_daddress}, #{user_require}, null,
				#{price}, sysdate, '결제 진행중')
	</insert> 
	
	<select id="getPaymentList" resultType="PaymentVO" >
		SELECT *
		FROM ORDERDATA	
	</select>
	
	<!-- 최종 결제금액 삽입 -->
	<select id="selectSum" resultType="int" >
		SELECT SUM(p1.product_price*b1.product_amount) 
		FROM bucket b1 inner join product_info p1 ON b1.product_seq = p1.product_seq
	</select>  
	
	<select id="selectUserInfo" parameterType="int" resultType="PaymentVO">
		SELECT *
		FROM ORDERDATA
		WHERE ORDERDATA_SEQ = #{orderdata_seq}
	</select>
	
	<!-- 주문번호 받아오기 -->
	<select id="orderSeq" resultType="int">
		SELECT MAX(ORDERDATA_SEQ) FROM ORDERDATA
	</select>
	
	<!-- 구매리스트 번호 받아오기 -->
	<select id="orderListSeq" resultType="int">
		SELECT MAX(BUYLIST_NUMBER) FROM BUYLIST
	</select>
	
	<!-- 구매리스트 임시정보 삭제 -->
	<delete id="deleteBuyList">
		DELETE FROM BUYLIST WHERE product_number=0
	</delete> 
	
	<!-- 결제정보 저장하기 -->
	<insert id="insertPayInfo" parameterType="PayInfoVO">
		INSERT INTO PAYMENT(pay_number, pay_name, pay_select, pay_email, pay_price, pay_date )
		VALUES(payment_number.NEXTVAL, #{pay_name}, #{pay_select}, #{pay_email}, #{pay_price}, sysdate)
	</insert> 
	
	<!-- 결제번호 받아오기 -->
	<select id="selectPayNumber" resultType="int">
		SELECT MAX(PAY_NUMBER) FROM PAYMENT 
	</select>
	
	<!-- 결제번호를 주문정보에 업데이트 -->
	<update id="updatePaymentNumber" parameterType="PaymentVO">
		UPDATE ORDERDATA SET PAY_NUMBER = #{payment_number}, state='결제완료'  WHERE ORDERDATA_SEQ = #{orderdata_seq}
	</update>
	
	<!-- 주문번호를 주문정보에 업데이트 -->
	<update id="updateBuylistNumber" parameterType="PaymentVO">
		UPDATE ORDERDATA SET buylist_number = #{buylist_number} WHERE ORDERDATA_SEQ = #{orderdata_seq}
	</update>	  	  
	
	<!-- 결제 실패시 주문정보 삭제 -->
	<update id="deleteOrder">
		DELETE FROM ORDERDATA WHERE STATE = '결제 진행중'
	</update>  
	
	<!-- 결제창 진행 전에 장바구니목록 제거 //추후 아이디 연동(WHERE) -->
	<delete id="deleteBucketList" >
		DELETE FROM bucket
	</delete>
	
	<!-- 빈 구매리스트 번호 생성 -->
	<insert id="insertBuyListNumber">
		INSERT INTO BUYLIST(BUYLIST_NUMBER, PRODUCT_SEQ, PRODUCT_AMOUNT )
		VALUES(buylist_number.NEXTVAL, 1,1)
	</insert> 
	
	<!-- 구매리스트 데이터 삽입 -->
	<insert id="BuyListinsert" parameterType="BuylistVO">
		INSERT INTO BUYLIST(BUYLIST_NUMBER, PRODUCT_SEQ, PRODUCT_AMOUNT)
		VALUES(buylist_number.NEXTVAL, #{product_seq}, #{product_amount})
	</insert> 
	
	
</mapper>