<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="QnaBoardDAO">

	<insert id="QnaInsertBoard" parameterType="QnaBoardVO">
		<!-- INSERT INTO 
				admin_Board (qnaSeq , qnaTitle, qnaName, qnaPassword, qnaCategory, qnaContent,qnaDate)
	    VALUES (qnaSeq.nextval, #{qnaTitle }, #{qnaName} ,#{qnaPassword }, #{qnaCategory }, #{qnaContent },sysdate)     -->     
	    
	    INSERT INTO
		qna (qnaSeq , qnaTitle, qnaPassword, qnaCategory,
		qnaContent,
		<if test="qnaMainImg != null ">
			qnaMainImg, qnaRealMainImg,
		</if>
		qnaContent2, qnaDate, qnaName
		)
		VALUES (qnaSeq.nextval, #{qnaTitle }, #{qnaPassword },
		#{qnaCategory }, #{qnaContent },
		<if test="qnaMainImg != null ">
			#{qnaMainImg}, #{qnaRealMainImg},
		</if>
		#{qnaContent2}, sysdate, #{qnaName}
		)          
	</insert>
	
	<!-- 목록조회 및 검색 -->
	<select id="QnaGetBoardList" resultType="QnaBoardVO" parameterType="Criteria">
		SELECT * FROM qna  
		 <include refid="qnaSearch"></include>
		ORDER BY qnaSeq DESC
	</select>
	
	<!-- 페이징 -->
	<select id="listPage" resultType="QnaBoardVO" parameterType="Criteria">
		SELECT  qnaSeq, 
				qnaTitle, 
				qnaPassword, 
				qnaCategory, 
				qnaContent, 
				qnaMainImg,
				qnaRealMainImg,
				qnaContent2,
				qnaDate,
				qnaName
		FROM 		( 
						SELECT qnaSeq, 
						qnaTitle, 
						qnaPassword, 
						qnaCategory, 
						qnaContent, 
						qnaMainImg,
						qnaRealMainImg,
						qnaContent2,
						qnaDate,
						qnaName,
						ROW_NUMBER() OVER(ORDER BY qnaSeq DESC) AS RNUM
						FROM qna 
						WHERE 1=1
						<include refid="qnaSearch"></include>
								) MP
		WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
		ORDER BY qnaSeq DESC
		
	</select>
	
	<!-- 게시물 총 갯수 -->
	<select id="listCount" parameterType="SearchCriteria" resultType="int">
		
		SELECT COUNT(qnaSeq)
			FROM qna
			WHERE 1=1
		<include refid="qnaSearch"></include>	
		   AND qnaSeq > 0
		   
	</select>
	
	<!-- Qna 게시물 조회 -->
	<select id="QnaGetBoard" parameterType="QnaBoardVO" resultType="QnaBoardVO">
		<![CDATA[
		SELECT 
			qnaSeq 
			,qnaTitle 
			,qnaPassword 	
			,qnaCategory 
			,qnaContent 	
			,qnaMainImg 
			,qnaRealMainImg
			,qnaContent2 
			,qnaDate 
			,qnaName
		FROM qna
		WHERE qnaSeq = #{qnaSeq}
		]]>
	</select>
	
	<!-- 수정 -->
	<update id="QnaUpdateBoard" parameterType="QnaBoardVO">
		UPDATE 
			qna SET
			qnaTitle = #{qnaTitle},
			qnaName = #{qnaName},
			qnaCategory = #{qnaCategory},
			qnaContent = #{qnaContent},
			qnaContent2 = #{qnaContent2},
		<if test="qnaMainImg != null "> 
 			qnaMainImg = #{qnaMainImg},  
 			qnaRealMainImg = #{qnaRealMainImg},
		</if> 
			qnaDate = SYSDATE
		WHERE 
			qnaSeq = #{qnaSeq} 
		AND 
			qnaPassword = #{qnaPassword}
		
	</update>
	
	<!-- 게시글 삭제 -->
	<delete id="QnaDeleteBoard" parameterType="QnaBoardVO">
	
		DELETE FROM qna
		WHERE qnaSeq = #{qnaSeq} AND qnaPassword = #{qnaPassword}
	
	</delete>
	
	<!-- 검색 -->
	<sql id="qnaSearch">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">AND qnaTitle LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'c'.toString()">AND qnaContent LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'w'.toString()">AND qnaName LIKE '%' || #{keyword} || '%'</if>
		</if>
	</sql>

</mapper>