<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="QnaBoardDAO">

	<insert id="QnaInsertBoard" parameterType="QnaBoardVO">
		<!-- INSERT INTO 
				admin_Board (board_Seq , board_Title, account_id, board_Password, board_Category, board_Content,board_Date)
	    VALUES (board_Seq.nextval, #{board_Title }, #{account_id} ,#{board_Password }, #{board_Category }, #{board_Content },sysdate)     -->     
	    
	    INSERT INTO
		qna (board_Seq , board_Title, board_Password, board_Category,
		board_Content,
		<if test="board_MainImg != null ">
			board_MainImg, board_RealMainImg,
		</if>
		board_Content2, board_Date, account_Id
		)
		VALUES (board_Seq.nextval, #{board_Title }, #{board_Password },
		#{board_Category }, #{board_Content },
		<if test="board_MainImg != null ">
			#{board_MainImg}, #{board_RealMainImg},
		</if>
		#{board_Content2}, sysdate, #{account_Id}
		)          
	</insert>
	
	<!-- 목록조회 및 검색 -->
	<select id="QnaGetBoardList" resultType="QnaBoardVO" parameterType="Criteria">
		SELECT * FROM qna  
		 <include refid="search"></include>
		ORDER BY board_Seq DESC
	</select>
	
	<!-- 페이징 -->
	<select id="listPage" resultType="QnaBoardVO" parameterType="Criteria">
		SELECT  board_Seq, 
				board_Title, 
				board_Password, 
				board_Category, 
				board_Content, 
				board_MainImg,
				board_realMainImg,
				board_Content2,
				board_Date,
				account_id
		FROM 		( 
						SELECT board_Seq, 
						board_Title, 
						board_Password, 
						board_Category, 
						board_Content, 
						board_MainImg,
						board_realMainImg,
						board_Content2,
						board_Date,
						account_id,
						ROW_NUMBER() OVER(ORDER BY board_Seq DESC) AS RNUM
						FROM qna 
						WHERE 1=1
						<include refid="search"></include>
								) MP
		WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
		ORDER BY board_Seq DESC
		
	</select>
	
	<!-- 게시물 총 갯수 -->
	<select id="listCount" parameterType="SearchCriteria" resultType="int">
		
		SELECT COUNT(board_Seq)
			FROM qna
			WHERE 1=1
		<include refid="search"></include>	
		   AND board_Seq > 0
		   
	</select>
	
	<!-- Qna 게시물 조회 -->
	<select id="QnaGetBoard" parameterType="QnaBoardVO" resultType="QnaBoardVO">
		<![CDATA[
		SELECT 
			board_seq           	as board_Seq 
			, board_title         	as board_Title 
			, board_password 	   	as board_Password 	
			, board_category      	as board_Category 
			, board_content 	   	as board_Content 	
			, board_mainimg       	as board_MainImg 
			, board_realmainimg   	as board_realMainImg
			, board_content2      	as board_Content2 
			, board_date          	as board_Date 
			, account_id          	as account_Id
		FROM qna
		WHERE board_Seq = #{board_Seq}
		]]>
	</select>
	
	<!-- 수정 -->
	<update id="QnaUpdateBoard" parameterType="QnaBoardVO">
		UPDATE 
			qna SET
			board_Title = #{board_Title},
			account_Id = #{account_Id},
			board_Category = #{board_Category},
			board_Content = #{board_Content},
			board_Content2 = #{board_Content2},
		<if test="board_MainImg != null "> 
 			board_MainImg = #{board_MainImg},  
 			board_RealMainImg = #{board_RealMainImg},
		</if> 
			board_Date = SYSDATE
		WHERE 
			board_Seq = #{board_Seq} 
		AND 
			board_Password = #{board_Password}
		
	</update>
	
	<!-- 게시글 삭제 -->
	<delete id="QnaDeleteBoard" parameterType="QnaBoardVO">
	
		DELETE FROM qna
		WHERE board_Seq = #{board_Seq} AND board_Password = #{board_Password}
	
	</delete>
	
	<!-- 검색 -->
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">AND board_Title LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'c'.toString()">AND board_Content LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'w'.toString()">AND account_id LIKE '%' || #{keyword} || '%'</if>
		</if>
	</sql>

</mapper>